name: optopus
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_riverpod: ^2.5.1
  vector_math: ^2.1.4
  flutter_colorpicker: ^1.1.0
  lottie: ^1.4.3
  google_fonts: ^7.1.0

  flow_canvas:
    path: packages/flow_canvas

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/
    - assets/no_data.jpg